*{
    font-family: 'Montserrat', sans-serif;
}

body{
    background-color : rgb(118, 148, 196);
    color: white;    
}

header{
    text-align : center;
    font-size: 30px;
}

textarea#entrada{
    font-size: 20px;
    width: 45%;
    height:400px;
    resize : none;
    border-radius : 7px;
    box-shadow: 5px 5px 10px 1px rgb(0, 0, 0);
    padding : 10px;
}

div#areaResultados{
    float : right;
    width: 45%;
}

textarea#resultados{
    font-size: 20px;
    height:400px;
    resize: none;
    width: 96%;
    border-radius : 7px;
    box-shadow: -5px 5px 10px 1px rgb(0, 0, 0);
    padding : 10px;
    background-image: url(/Imagens/boneco.png);
    background-repeat : no-repeat;
    background-position: center;
    background-size: 250px;
}

p#info{
   font-style: italic;
   font-size : 9pt;
}

#buttonCrip{
    color : white;
    padding : 7px;
    border-radius : 20px;
    background: #0A3871;
    font-size: 18px;
    cursor: pointer;
}

#buttonDescrip, #buttonCopy{
    color : #0A3871;
    padding : 7px;
    border-radius : 20px;
    background: #D8DFE8;
    border : 1px solid #0A3871;
    font-size: 18px;
    cursor: pointer;

}


footer{
    background:  #0A3871;
    text-align : center;
    padding-top: 15px;
    padding-bottom: 9px;
  }
  #github, #linkedin{
    margin: 10px 10px 0px 10px; 
    display: flexbox;
    height: 40px;
  }
  #github:hover, #linkedin:hover{
    transform : scale(1.2);
    cursor : pointer;
  
  }